0 * * * 1-4 /home/ubuntu/Downloads/Python-2.7.14/python /home/ubuntu/sistemaOLX/getAnuncio.py
*/15 * * * 5-6 /home/ubuntu/Downloads/Python-2.7.14/python /home/ubuntu/sistemaOLX/getAnuncio.py
*/30 * * * 7 /home/ubuntu/Downloads/Python-2.7.14/python /home/ubuntu/sistemaOLX/getAnuncio.py

